<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>(MY) TUNES</title>
  <link rel="stylesheet" href="http://localhost:8080/build/styles.css" />
  </head>
</head>
<body data-ng-app="app" id="app">

  <div class="main" data-ng-controller="main as vm">

    <div
      data-ng-if="vm.hasDuplicateFav"
      class="main__duplicate-fav-entry">
      <h2>You already have this track in you favourites</h2>
    </div>

    <div class="main__search">
      <header>
        <nav>
          <h1>(MY) TUNES</h1>
        </nav>
      </header>
      <section>
        <article>
          <p>Test music search, find a track list and more .. simply add what you're looking for</p>
          <div>
            <Label for="track-search" >
              Search:
            </Label>
            <input
                    type="text"
                    value=""
                    id="track-search"
                    name="track-search"
                    placeholder="Artist / Album / Track Name"
                    data-ng-keyup="vm.searchInfo(vm.trackInfo)"
                    data-ng-model="vm.trackInfo">
          </div>
        </article>
      </section>
    </div>

    <div class="main__fav-tracks-list" data-ng-if="vm.hasFavs">
      <section>
        <h2>YOUR FAVOURITE TRACKS:  {{ vm.favs.length }}</h2>
        <ul>
          <li data-ng-repeat="results in vm.favs track by $index">
            <span>
              <img src="{{ results.artworkUrl60 }}" alt="{{ results.artistName + ' - ' + results.trackName }}" />
            </span>
            <span>
              {{ results.artistName + ' - ' + results.trackName }}
              <span class="album-info">{{ results.collectionName }}</span>
            </span>
            <span class="button-container">
              <button id="{{ results.trackId }}"
                data-ng-click="vm.removeFromFavs(results.trackId, $index)">
                Remove Track
              </button>
            </span>
          </li>
        </ul>
      </section>
    </div>

    <div class="main__track-results">
      <section>
          <h2>RESULTS FOUND : {{ vm.getTrackResultsCount() }}</h2>
          <ul>
            <li data-ng-repeat="results in vm.getResults().results track by $index">
                <span>
                  <img src="{{ results.artworkUrl60 }}" alt="{{ results.artistName + ' - ' + results.trackName }}" />
                </span>
                <span>
                  {{ results.artistName + ' - ' + results.trackName }}
                  <span class="album-info">{{ results.collectionName }}</span>
                </span>
                <span class="button-container">
                  <button id="{{ results.trackId }}"
                    data-ng-click="vm.addToFavsArr(results.trackId, $index)">
                    Add to Favs
                  </button>
                </span>
            </li>
          </ul>
      </section>
    </div>
  </div>
  <script src="http://localhost:8080/build/app.all.js"></script>
</body>
</html>