@function pem($pixels, $context: $default-font-size) {
  @return #{$pixels/$context}em;
}

@mixin setBlockDefaultStyles() {
  background: $default-black;
  padding: pem(20px);
  margin-bottom: pem(20px);
}
