.main {

  &__search{

    @include setBlockDefaultStyles();

      label {
        display: block;
        margin-bottom: pem(20px);
      }

      input[type=text] {

        width : 90%;
        padding: pem(5px);
        font-size: pem(16px);

      }

  }

}