.main {

  &__duplicate-fav-entry {

    @include setBlockDefaultStyles();

    background: $default-black;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;

    h2 {
      max-width: 75%;
      margin: 0;
      padding:0;
      margin: auto;
    }

  }

}