body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
  color: $default-white;
  font-family: helvetica, arial;
}

.main {

  max-width: 75%;
  margin: pem(20px) auto;
  position: relative;
  z-index: 2;

  h1,
  h2,
  h3 {
    padding-top: 0px;
    margin-top: 0px;
  }

  a {
    color: $default-white;
    text-decoration: none;
  }

  a:hover{
    color: $default-hover;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
    }

  }

  ol {
    margin: 0;
    padding: 0;
  }

}
