.main {

  &__fav-tracks-list,
  &__track-results {

    @include setBlockDefaultStyles();

    li {
      text-align: left;
      padding: pem(10px) 0 pem(10px) 0;
      border-bottom: 1px solid $default-grey;
      overflow: auto;
      height: 100%;
    }

    li:last-child{
      border-bottom: none;
    }

    li img{
      padding-right: pem(10px);
    }

    span {
      display:block;
      float : left;
    }

    .album-info {
      float: none;
      font-size: pem(10px);
      color : $default-grey;
    }

    span.button-container {
      float: right;
    }

    span button {
      border: none;
      padding: pem(5px);
      margin-top: pem(10px);
      background: $default-white;
      cursor: pointer;
    }

    span button:hover {
      background: $default-grey;
    }

  }

}